
/* Login page css */
.Loginlabel{

    font-size: 60px;
    color: #012a41;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #245586;
    cursor: pointer;
  }
  
  .login {
    width: 100%;
    min-height: 80vh;
    padding: 0 10px;
    background:white;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg,#245586 5%,#012a41 50%,#00030B);
    box-shadow: 0 50px 70px -20px black ;
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: red;
  }
  
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
  }

/* Homepage css */
.Navbarcontainer{
margin: 0px;
padding: 0px;
height: 80px;
display: flex;
align-items: center;
justify-content: flex-end;


}

.Navitems{  
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
}

.banImage{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 30%;
    right:50%;
}
.banimg{
    
}
.Outerdiv{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    position: absolute;
}
.innerdiv1{
    background-color: red;
    flex: 1;
    
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
}
.innerdiv2{
    background-color: blue;
    flex: 10;
    position: relative;
    overflow: scroll;
}
.innerdiv3{
    background-color: yellow;
    flex: 1;    
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.Middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./Images/gif3.gif') no-repeat fixed center;
    background-size:contain;
    
}

.innerMiddle{
padding-top: 12%;
padding-bottom: 20%;
width: 100%;
background-color: rgba(0, 3, 11, .5);

}
